<!DOCTYPE html>
<html>
<head>
  <title>MongoCMS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'fileuploader' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
